<!DOCTYPE html>
<html style="text-align: center;">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Bienvenido a {{companyName}}</title>
</head>
<body>
  {{> header }}
  <p></p>
  <h2>Hola {{name}}! </h2>
  <p>Gracias por registrarse en <a href="{{companyUrl}}" title="">{{companyName}}</a> </p>
  <p></p>
  <p>
    Puede editar sus datos en cualquiermomento desde su perfil.
  </p>
  
  {{> footer }}
</body>
</html>