<!DOCTYPE html>
<html style="text-align: center;">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Cambiar contrase単a</title>
</head>
<body>
  {{> header }}
  <hr />
  <h2>Hola {{name}}! </h2>
  <p>Hemos recibido una solicitud de cambio de contrase単a con este email en <a href="{{companyUrl}}" title="">{{companyName}}</a> </p>
  <p>Si no has sido tu omite este mensaje</p>
  <p>
    Pincha en el enlace para cambiar tu contrase単a.
  </p>
  <p>
    <a href="{{url}}" title="Cambio de contrase単a">Pincha aqui</a>
  </p>
  
  {{> footer }}
</body>
</html>
